In [1]:

import sys
import os

sys.path.append(os.path.abspath(".."))

In [2]:
import pandas as pd

from scripts.features.compute_returns import compute_log_returns
from scripts.features.compute_volatility import rolling_volatility
from scripts.features.technical_indicators import momentum

In [3]:
prices = pd.read_csv(
    "../data/raw/prices.csv",
    index_col=0,
    parse_dates=True
)

In [4]:
returns = compute_log_returns(prices)
volatility = rolling_volatility(returns)
mom = momentum(prices)

/Users/weixiaojing/Desktop/Wei Xiao Jing/Project/quant/scripts/features/technical_indicators.py:2: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  return prices.pct_change(window)

In [5]:
volatility.tail()

                  CL   GC      NVDA       SPY      TSLA
Date
2024-12-24  0.009453  0.0  0.020923  0.008860  0.038059
2024-12-26  0.008829  0.0  0.020902  0.008790  0.038623
2024-12-27  0.008814  0.0  0.021309  0.009094  0.040802
2024-12-30  0.009010  0.0  0.020766  0.009301  0.041686
2024-12-31  0.008875  0.0  0.021388  0.009294  0.042304

In [6]:
mom.describe()

                CL           GC         NVDA          SPY         TSLA
count  2496.000000  2496.000000  2496.000000  2496.000000  2496.000000
mean      0.005398     0.026198     0.055303     0.011114     0.043676
std       0.045575     0.185965     0.136005     0.043708     0.186960
min      -0.187449    -0.111111    -0.374189    -0.309868    -0.606265
25%      -0.023680     0.000000    -0.028801    -0.007510    -0.079257
50%       0.007207     0.000000     0.053715     0.016798     0.020581
75%       0.035003     0.000000     0.131202     0.035379     0.125939
max       0.196575     1.837264     0.488476     0.230726     1.063036

In [7]:
feature_matrix = pd.concat(
    [
        returns.add_suffix("_ret"),
        volatility.add_suffix("_vol"),
        mom.add_suffix("_mom")
    ],
    axis=1
).dropna()

In [8]:
feature_matrix.head()

,CL_ret,GC_ret,NVDA_ret,SPY_ret,TSLA_ret,CL_vol,GC_vol,NVDA_vol,SPY_vol,TSLA_vol,CL_mom,GC_mom,NVDA_mom,SPY_mom,TSLA_mom
Date,,,,,,,,,,,,,,,
2015-02-02,0.021538,0.000000,0.021639,0.012308,0.035417,0.018737,0.006131,0.020896,0.011045,0.024417,0.004520,0.030457,-0.025335,-0.017086,-0.038165
2015-02-03,0.002895,0.024332,0.024668,0.014358,0.034571,0.018657,0.007395,0.021318,0.010748,0.023708,0.014929,0.066667,0.016170,0.015467,0.039364
2015-02-04,0.000144,0.000000,0.002483,-0.003815,0.000870,0.018468,0.007395,0.019980,0.010537,0.023692,0.025854,0.066667,0.050547,0.021219,0.034409
2015-02-05,0.008490,0.004796,0.016236,0.010044,0.011103,0.018479,0.007391,0.020171,0.010417,0.023770,0.026426,0.066326,0.070533,0.018833,0.047594
2015-02-06,-0.007046,-0.009615,-0.004402,-0.002769,-0.016562,0.018336,0.007356,0.018613,0.009672,0.024133,0.005538,0.040201,0.027190,-0.001700,0.032001

In [9]:
feature_matrix.describe()

,CL_ret,GC_ret,NVDA_ret,SPY_ret,TSLA_ret,CL_vol,GC_vol,NVDA_vol,SPY_vol,TSLA_vol,CL_mom,GC_mom,NVDA_mom,SPY_mom,TSLA_mom
count,2496.000000,2496.000000,2496.000000,2496.000000,2496.000000,2496.000000,2496.000000,2496.000000,2496.000000,2496.000000,2496.000000,2496.000000,2496.000000,2496.000000,2496.000000
mean,0.000210,0.000017,0.002274,0.000502,0.001359,0.010807,0.000589,0.028019,0.009309,0.032966,0.005398,0.026198,0.055303,0.011114,0.043676
std,0.011926,0.004288,0.030438,0.011139,0.035989,0.005407,0.004354,0.012039,0.006214,0.013818,0.045575,0.185965,0.136005,0.043708,0.186960
min,-0.102951,-0.071459,-0.207711,-0.115887,-0.236518,0.002847,0.000000,0.009001,0.002007,0.009816,-0.187449,-0.111111,-0.374189,-0.309868,-0.606265
25%,-0.005307,0.000000,-0.012513,-0.003671,-0.016300,0.007973,0.000000,0.019532,0.005628,0.022729,-0.023680,0.000000,-0.028801,-0.007510,-0.079257
50%,0.000435,0.000000,0.002648,0.000599,0.001296,0.009675,0.000000,0.024523,0.007628,0.030283,0.007207,0.000000,0.053715,0.016798,0.020581
75%,0.006175,0.000000,0.017505,0.005909,0.019073,0.012452,0.000000,0.034690,0.011649,0.039526,0.035003,0.000000,0.131202,0.035379,0.125939
max,0.118745,0.148420,0.260876,0.086731,0.198187,0.057148,0.043690,0.087996,0.059167,0.101727,0.196575,1.837264,0.488476,0.230726,1.063036

In [10]:
feature_matrix.to_csv("../data/processed/feature_matrix.csv")