In [1]:
import sys
import os
sys.path.append(os.path.abspath(".."))

In [2]:
import pandas as pd

features = pd.read_csv(
    "../data/processed/feature_matrix.csv",
    index_col=0,
    parse_dates=True
)

features.head()

,CL_ret,GC_ret,NVDA_ret,SPY_ret,TSLA_ret,CL_vol,GC_vol,NVDA_vol,SPY_vol,TSLA_vol,CL_mom,GC_mom,NVDA_mom,SPY_mom,TSLA_mom
Date,,,,,,,,,,,,,,,
2015-02-02,0.021538,0.000000,0.021639,0.012308,0.035417,0.018737,0.006131,0.020896,0.011045,0.024417,0.004520,0.030457,-0.025335,-0.017086,-0.038165
2015-02-03,0.002895,0.024332,0.024668,0.014358,0.034571,0.018657,0.007395,0.021318,0.010748,0.023708,0.014929,0.066667,0.016170,0.015467,0.039364
2015-02-04,0.000144,0.000000,0.002483,-0.003815,0.000870,0.018468,0.007395,0.019980,0.010537,0.023692,0.025854,0.066667,0.050547,0.021219,0.034409
2015-02-05,0.008490,0.004796,0.016236,0.010044,0.011103,0.018479,0.007391,0.020171,0.010417,0.023770,0.026426,0.066326,0.070533,0.018833,0.047594
2015-02-06,-0.007046,-0.009615,-0.004402,-0.002769,-0.016562,0.018336,0.007356,0.018613,0.009672,0.024133,0.005538,0.040201,0.027190,-0.001700,0.032001

In [3]:
import re

pattern = re.compile(r'^([A-Z]+)')

# Extract asset names
assets = set()
for col in features.columns:
    match = pattern.match(col)
    if match:
        assets.add(match.group(1))

assets = sorted(list(assets))

In [4]:
assets

['CL', 'GC', 'NVDA', 'SPY', 'TSLA']

In [5]:
from scripts.models.hmm_utils import fit_hmm_for_asset, add_risk_scaling

In [6]:
for asset in assets:
    hmm_df, _, _ = fit_hmm_for_asset(features, asset)
    hmm_df = add_risk_scaling(hmm_df, asset)

    out_path = f"../data/processed/hmm_{asset}.csv"
    hmm_df.to_csv(out_path)

    print(f"Saved {out_path}")

CL: final log-likelihood = -5281.4494
Saved ../data/processed/hmm_CL.csv
GC: final log-likelihood = 54158.4869
Saved ../data/processed/hmm_GC.csv
NVDA: final log-likelihood = -5293.4202
Saved ../data/processed/hmm_NVDA.csv
SPY: final log-likelihood = -4754.8433
Saved ../data/processed/hmm_SPY.csv
TSLA: final log-likelihood = -5470.4365
Saved ../data/processed/hmm_TSLA.csv